$colour-bg: #21252b;
$colour-fg: #282c34;

a {
  color: #FFFFFF;
}

body {
  background-color: $colour-bg;
  color: #FFFFFF;
  font-size: 100%;
  font-family: monospace;;
}

.tab {
  background-color: $colour-bg;
  display: inline-block;
  width: 50%;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

.tab-active {
  background-color: $colour-fg;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}
